<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.dispatch.mapper.AccountMapper">

  <select id="getAccountByUsername" resultType="Account">
    SELECT * FROM dispatch_account WHERE username = #{username}
  </select>

  <select id="getAccountByGameToken" resultType="Account">
    SELECT * FROM dispatch_account WHERE game_token = #{token}
  </select>
    <update id="updateSessionKey">
        update dispatch_account
        set session_key = #{sessionKey}
        where id = #{id}
 </update>
  <insert id="register">
    insert into dispatch_account(
        username,
        password,
        email,
        phone,
        game_token,
        session_key,
        locale,
        ban_start_time,
        ban_end_time,
        ban,
        create_time,
        update_time,
        remarks
    ) values (
        #{username},
        #{password},
        #{email},
        #{phone},
        #{gameToken},
        #{sessionKey},
        #{locale},
        #{banStartTime},
        #{banEndTime},
        #{ban},
        #{createTime},
        #{updateTime},
        #{remarks}
    )
  </insert>

  <update id="resetPassword">
    UPDATE dispatch_account
    SET password = #{password}
    where email = #{email}
      AND username = #{username}
  </update>

  <select id="selectMailBindAccount" resultType="Account">
    SELECT * FROM dispatch_account WHERE email = #{email}
  </select>

</mapper>
