<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.dispatch.mapper.AuthMapper">

  <insert id="register">
    insert into dispatch_account(
        id,
        username,
        password,
        email,
        phone,
        game_token,
        session_key,
        locale,
        ban_start_time,
        ban_end_time,
        ban,
        create_time,
        update_time,
        remarks,
    ) values (
        #{createPlayerId},
        #{username},
        #{password},
        #{email},
        #{token},
        #{sessionKey},
        #{locale},
        #{banStartTime},
        #{banEndTime},
        #{ban},
        #{createTime},
        #{updateTime},
        #{remarks},
    )
  </insert>

</mapper>
